In [2]:
import pandas as pd

In [20]:
rating = pd.read_csv("/content/ratings.csv",usecols=['userId','movieId'])
movies = pd.read_csv("/content/movies.csv",usecols=['movieId','title'])
df = rating.merge(movies,how='inner',on='movieId')
df.drop(columns=['movieId'],inplace=True)

In [24]:
df= df.sort_values('userId')
df.drop_duplicates(inplace=True)

In [ ]:
df

### 11. Quantos usuários distintos existem no dataset de ratings?

In [11]:
rating = pd.read_csv("/content/ratings.csv")
len(rating.userId.unique())

610

### 12. Através algoritmo apriori gere os itens mais frequentes após a junção dos datasets. Utilize o parâmetro min_support=0.3 e responda: qual a é quantidade de itens frequentes foram criados?

In [26]:
from mlxtend.frequent_patterns import apriori, association_rules
df['visto'] = 1
df_1 = df.pivot(index="userId", columns='title',values='visto')
df_1 = df_1.astype(str)
df_1 = df_1.replace('1.0','1')
df_1 = df_1.replace('nan','0')
df_1 = df_1.astype(int)

In [28]:
frq_items = apriori(df_1, min_support = 0.3, use_colnames = True)
len(frq_items)

39

### 13. Qual o ID do usuário que mais assistiu filmes?

In [ ]:
rating = pd.read_csv("/content/ratings.csv")
rating.groupby('userId').count().sort_values('movieId')

        movieId  rating  timestamp
userId
442          20      20         20
406          20      20         20
147          20      20         20
194          20      20         20
569          20      20         20
...         ...     ...        ...
274        1346    1346       1346
448        1864    1864       1864
474        2108    2108       2108
599        2478    2478       2478
414        2698    2698       2698

[610 rows x 3 columns]

### 14. Utilize o algoritmo association_rules, crie as regras de associação considerando, metric='confidence' e min_threshold=0.7 e responda: qual regra possui maior confiança?

In [33]:
frq_items = apriori(df_1, min_support = 0.3, use_colnames = True)
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.7)
#rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules)

                                          antecedents  \
0                                 (Braveheart (1995))
1                              (Jurassic Park (1993))
2                               (Pulp Fiction (1994))
3                               (Forrest Gump (1994))
4                  (Shawshank Redemption, The (1994))
5                  (Silence of the Lambs, The (1991))
6         (Star Wars: Episode IV - A New Hope (1977))
7                               (Pulp Fiction (1994))
8                  (Shawshank Redemption, The (1994))
9                  (Silence of the Lambs, The (1991))
10                 (Silence of the Lambs, The (1991))
11        (Star Wars: Episode IV - A New Hope (1977))
12  (Star Wars: Episode V - The Empire Strikes Bac...

                                          consequents  antecedent support  \
0                               (Forrest Gump (1994))            0.388525
1                               (Forrest Gump (1994))            0.390164
2                               (Forrest Gump (1994))            0.503279
3                  (Shawshank Redemption, The (1994))            0.539344
4                               (Forrest Gump (1994))            0.519672
5                               (Forrest Gump (1994))            0.457377
6                                (Matrix, The (1999))            0.411475
7                  (Shawshank Redemption, The (1994))            0.503279
8                               (Pulp Fiction (1994))            0.519672
9                               (Pulp Fiction (1994))            0.457377
10                 (Shawshank Redemption, The (1994))            0.457377
11  (Star Wars: Episode V - The Empire Strikes Bac...            0.411475
12        (Star Wars: Episode IV - A New Hope (1977))            0.345902

    consequent support   support  confidence      lift  leverage  conviction
0             0.539344  0.300000    0.772152  1.431649  0.090451    2.021767
1             0.539344  0.324590    0.831933  1.542489  0.114157    2.740902
2             0.539344  0.377049    0.749186  1.389068  0.105609    1.836640
3             0.519672  0.378689    0.702128  1.351097  0.098406    1.612529
4             0.539344  0.378689    0.728707  1.351097  0.098406    1.697998
5             0.539344  0.326230    0.713262  1.322461  0.079546    1.606537
6             0.455738  0.300000    0.729084  1.599788  0.112475    2.008968
7             0.519672  0.363934    0.723127  1.391506  0.102395    1.734831
8             0.503279  0.363934    0.700315  1.391506  0.102395    1.657481
9             0.503279  0.339344    0.741935  1.474204  0.109156    1.924795
10            0.519672  0.326230    0.713262  1.372522  0.088543    1.675143
11            0.345902  0.311475    0.756972  2.188403  0.169145    2.691454
12            0.411475  0.311475    0.900474  2.188403  0.169145    5.913271

### 15. Qual o suporte da regra: Se (Pulp Fiction (1994)) então (Forrest Gump (1994))?

In [34]:
frq_items = apriori(df_1, min_support = 0.3, use_colnames = True)
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.7)
#rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules)

                                          antecedents  \
0                                 (Braveheart (1995))
1                              (Jurassic Park (1993))
2                               (Pulp Fiction (1994))
3                               (Forrest Gump (1994))
4                  (Shawshank Redemption, The (1994))
5                  (Silence of the Lambs, The (1991))
6         (Star Wars: Episode IV - A New Hope (1977))
7                               (Pulp Fiction (1994))
8                  (Shawshank Redemption, The (1994))
9                  (Silence of the Lambs, The (1991))
10                 (Silence of the Lambs, The (1991))
11        (Star Wars: Episode IV - A New Hope (1977))
12  (Star Wars: Episode V - The Empire Strikes Bac...

                                          consequents  antecedent support  \
0                               (Forrest Gump (1994))            0.388525
1                               (Forrest Gump (1994))            0.390164
2                               (Forrest Gump (1994))            0.503279
3                  (Shawshank Redemption, The (1994))            0.539344
4                               (Forrest Gump (1994))            0.519672
5                               (Forrest Gump (1994))            0.457377
6                                (Matrix, The (1999))            0.411475
7                  (Shawshank Redemption, The (1994))            0.503279
8                               (Pulp Fiction (1994))            0.519672
9                               (Pulp Fiction (1994))            0.457377
10                 (Shawshank Redemption, The (1994))            0.457377
11  (Star Wars: Episode V - The Empire Strikes Bac...            0.411475
12        (Star Wars: Episode IV - A New Hope (1977))            0.345902

    consequent support   support  confidence      lift  leverage  conviction
0             0.539344  0.300000    0.772152  1.431649  0.090451    2.021767
1             0.539344  0.324590    0.831933  1.542489  0.114157    2.740902
2             0.539344  0.377049    0.749186  1.389068  0.105609    1.836640
3             0.519672  0.378689    0.702128  1.351097  0.098406    1.612529
4             0.539344  0.378689    0.728707  1.351097  0.098406    1.697998
5             0.539344  0.326230    0.713262  1.322461  0.079546    1.606537
6             0.455738  0.300000    0.729084  1.599788  0.112475    2.008968
7             0.519672  0.363934    0.723127  1.391506  0.102395    1.734831
8             0.503279  0.363934    0.700315  1.391506  0.102395    1.657481
9             0.503279  0.339344    0.741935  1.474204  0.109156    1.924795
10            0.519672  0.326230    0.713262  1.372522  0.088543    1.675143
11            0.345902  0.311475    0.756972  2.188403  0.169145    2.691454
12            0.411475  0.311475    0.900474  2.188403  0.169145    5.913271